.preview {

}

.preview__tabs {

}

.preview__wrap {
    display: flex;
    flex-direction: column;
    padding: 68px 0 92px;
    gap: 64px;
}

.preview__cards {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 30px;
}

.preview__cards {
    display: none;
}